#header {
    height: 50px;
    width: 75%;
    margin-left: 25%;
}

#content {
    width: 80%;
    margin-left: 15%;
}

#trains {
    width: 80%;
}

#buyButton {
    margin-left: 40%;
}

#myTickets {
    width: 80%;
}

#loginForm {
    margin-left: 1%;
}

#regForm {
    margin-left: 1%;
}

#stationsInfo {
    width: 40%;
    margin-left: 1%;
}

#trainsInfo {
    width: 40%;
    margin-left: 1%;
}

#passengersInfo {
    width: 60%;
    margin-left: 1%;
}

#stationsTable {
    width: 50%;
}

#passengersTable {

}

#information {
    width: 80%;
    margin-left: 5%;
}